---
import IndexLayout from '@layouts/IndexLayout.astro';
import PostCard from '@components/PostCard.astro';
import { sortPosts } from "@js/utils";
const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = sortPosts(allPosts);
const siteSection = 'posts';
const pageTitle = "Posts";
const pageHeading = "Maybe you want to know what I think.";
---

<IndexLayout siteSection={siteSection} pageTitle={pageTitle} pageHeading={pageHeading}>

    <section>
      <ul class="posts-list">
        {
          sortedPosts.length !== 0 &&
          sortedPosts
            .map((post: any) => (
              <PostCard
                date={post.frontmatter.pubDate}
                title={post.frontmatter.title}
                blurb={post.frontmatter.blurb}
                href={post.url}
              />
            ))
        }
      </ul>
    </section>
    
</IndexLayout>